<h1>Audio App</h1>

<ul>
  <li style="cursor: pointer;" *ngFor="let file of files" (click)="onClick(file.url)">{{file.name}}</li>
</ul>

<div>
  <button (click)="play()">Play</button>
  <button (click)="pause()">Pause</button>
  <button (click)="stop()">Stop</button>
</div>

<div>
  <span>{{currentTime}}</span>
  <input type="range" min="0" max="{{duration}}" [value]="seek" (input)="setSeekTo($event)" />
  <span>{{duration}}</span>
</div>

<div>
  <span>Volume</span>
  <input type="range" min="0" max="1" step="0.01" value="0.5" (input)="setValue($event)" />
</div>